.dialog-footer-wrapper{
    margin: 0 24px 0 12px;
    text-align: center;
}

.dialog-footer-border{
    display: block;
    margin: 0;
    border-bottom: 1px solid #EEE;
}

.dialog-footer-actions{
    margin: 0 auto;
}