.master {
    float: left;
    width: calc(31% - 0px);
    margin: 0;
    box-sizing: border-box;
    border-right: 2px solid #E9EBED;
    padding-bottom: 10px;
    height: 100%;
    /*overflow: hidden;*/
}

.dialogs-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    /*margin-right: -15px;*/
    position: relative;
}