.master {
    float: left;
    width: calc(36% - 0px);
    margin: 0;
    box-sizing: border-box;
    border-right: 1px solid #E9EBED;
    height: 100%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
}

.dialogs-list {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;
    padding: 0 12px;
}