.header-wrapper{
    max-width: 1010px;
    margin: 0 auto;
    height: 48px;
    background: #5682a3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-status{
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    padding: 15px 19px;
}

.header-version{
    font-weight: lighter;
    font-size: 10px;
    margin-right: 10px;
}

#clear-form{
    margin-left: 10px;
}

#auth-form{
    margin-left: 10px;
}