.header-wrapper{
    max-width: 1010px;
    margin: 0 auto;
    height: 48px;
    background: #5682a3;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-master{
    float: left;
    width: calc(31% - 0px);
    height: 100%;
    display: flex;
}

.header-details{
    float: left;
    width: calc(69% - 0px);
    height: 100%;
    display: flex;
}

.header-title{
    padding: 15px 19px 15px;
}

.header-title-icon{
    width: 62px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../Assets/Telegram.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top: 1px;
}

.header-button, .header-status{
    padding: 15px 19px 15px;
    line-height: 18px;
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
}

.header-button:hover {
    color: #fff;
    text-decoration: none;
    background: #497799;
}

.header-button-content, .header-status-content{
    color: #fff;
    word-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
    overflow: hidden;
    vertical-align: top;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-default{
    cursor: default;
}

.grow{
    flex-grow: 1;
}