.inputbox-wrapper{
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-top: 1px solid #E9EBED;
}

#inputbox-message{
    box-shadow: 0 0 0 0;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 22px 0 22px 0;
}

#inputbox-message:empty::before {
    content: attr(placeholder);
    color: #8E9396;
    pointer-events: none
}

#inputbox-message:empty:active::before,
#inputbox-message:empty:focus::before {
    opacity: .75
}

#inputbox-message:focus {
    border: 0;
    outline: none;
    box-shadow: 0 0 0 0;
}

.inputbox-buttons{
    display: flex;
}

.inputbox-attach-wrapper{
    flex-grow: 1;
}

.inputbox-attach-button{
    display: none;
}

.inputbox-attach-document-icon{
    background-image: url(../Assets/Icons/General_2x.png);
    background-size: 40px 948px;
    display: inline-block;
    width: 18px;
    height: 17px;
    vertical-align: top;
    opacity: 0.8;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-position: -11px -455px;
    cursor: pointer;
}

.inputbox-attach-photo-icon{
    background-image: url(../Assets/Icons/General_2x.png);
    background-size: 40px 948px;
    display: inline-block;
    width: 20px;
    height: 18px;
    vertical-align: top;
    opacity: 0.8;
    margin-right: 25px;
    background-repeat: no-repeat;
    background-position: -10px -399px;
    cursor: pointer;
}

.inputbox-attach-photo-icon:hover {
    opacity: 1;
}
.inputbox-attach-photo-icon:active {
    background-position: -10px -427px;
    opacity: 1;
}

.inputbox-attach-document-icon:hover {
    opacity: 1;
}
.inputbox-attach-document-icon:active {
    background-position: -11px -482px;
    opacity: 1;
}

.inputbox-send-button{

}

.inputbox-send-text{
    color: #499dd9;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    cursor: pointer;
}

.inputbox-send-text:hover {
    color: #3589c5;
}

.inputbox-middle-column{
    flex-grow: 1;
}

.inputbox-left-column{
    margin-right: 20px;
}

.inputbox-right-column{
    margin-left: 20px;
}

