a {
    color: #3a6d99;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

b, strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre {
    margin-bottom: 0;
    overflow: auto;
    padding: 3px;
    border: 1px solid #eee;
    max-height: none;
    font-size: inherit;

    display: block;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 4px;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

.sending {
    color: salmon; /*#5682a3;*/
}

.message{
    /*margin: 20px;
    word-wrap: break-word;*/
}

.message-wrapper{
    max-width: 560px;
    padding: 0 15px;
    margin: 0 auto;
}

.message-wrapper:before, .message-wrapper:after{
    content: ' ';
    display: table;
}

.message-content{
    margin: 8px 10px 8px 16px;
}

.message-author{
    margin: 1px 0 4px;
    color: #3a6d99;
    font-weight: 700;
}

.message-text{
    white-space: pre-wrap;
}

.message-meta{
    float: right!important;
    user-select: none;
    color: #adadad;
    font-size: .85em;
    padding: 0 0 20px 10px;
}

.message-date {

}

.message-views-icon{
    display: inline-block;
    width: 16px;
    height: 11px;
    vertical-align: text-bottom;
    background-image: url(../Assets/Icons/General_2x.png);
    background-size: 40px 948px;
    background-repeat: no-repeat;
    background-position: -12px -850px;
}

.message-views{
    font-weight: 700;
}