.contact{
    display: flex;
    flex-direction: row;
}

.contact-name{
    font-weight: 700;
    white-space: nowrap;
    padding-top: 6px;
}

.contact-phone{

}

.contact-content{
    flex-grow: 1;
    margin-left: 10px;
}