.document{
    display: flex;
    flex-direction: row;
}

.document-tile{
    position: relative;
}

.document-progress{
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
    margin: 3px;
    animation: spin 4s linear infinite;
}

.document-progress-circle {
    stroke-linecap: round;
    color: #90a8bc;
}

.document-content{
    flex-grow: 1;
    margin-left: 10px;
}

.document-title{
    padding-top: 6px;
}

.document-name{
    color: #3a6d99;
    font-weight: 700;
    max-width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.document-size{
    color: #999;
}

.document-action{

}

@keyframes spin {
    100% { transform: rotate(360deg); }
}